{% extends "base.html" %}
{% load static %}
{% block title %}Полный текст{% endblock %}
<!-- Формируется из локации и даты -->
{% block content %}
<hr>
<article>
  <div class="container py-5">
    <ul>
      <li>
        Место: {{ post.location }}
      </li>
      <li>
        Дата: {{ post.date }}
      </li>
      <li>
        Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
      </li>  
      <p>
        <p>{{ post.text }}</p>
      </p>
  </div>     
</article>               
{% endblock %}